///common style
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // text-align: center;
    color: #2c3e50;
    // margin-top: 60px;


    @at-root ul,ol,li,p{
        margin: 0;
        padding: 0
    }
    @at-root ul,li{
        list-style: none;
    }

    @at-root ul{
        display: flex;
        margin: 0 30px;

        li{
            flex: 1
        }
    }
}


/// catalog
.catalog{
    li{
        margin: 10px;
        padding: 20px;
        background: #39D631;
        color: #fff
    }
}

$switchTop: 400px;
$liLRSpace: 10px;
$boxSpace: 30px;

///list
.list{
    position: relative;
    padding: 0 100px 20px;

    h1{
        margin-bottom: 30px;
    }
    .problem{
        position: relative;
        padding-left: $boxSpace;
    }
    h3{
        .num{
            position: absolute;
            left: 0;
            line-height: 150%;
        }

        & + ol{
            // display: flex;
            // flex-wrap: wrap;
            margin-bottom: 15px;
            padding-right:50px;

            li{
                // flex: 1;
                margin: 15px $liLRSpace;
                padding: 10px 15px;
                background: rgba(#39D631,.2);

                list-style-type: upper-latin;
                list-style-position: inside;
                text-align: left;
                white-space: nowrap;

                &.checked{
                    position: relative;
                    color: #fff;

                    &:after{
                        position: absolute;
                        content: '';
                        right: 15px;
                        border: 0

                    }

                    &.right{
                        background: rgba(#39D631,.7);
                        &:after{
                            content: "√"
                        }


                    }
                    &.wrong{
                        background: rgba(#f00,.7);
                        &:after{
                            content: "x"
                        }
                    }
                }
            }
        }
    }

    .switch{
        position: absolute;
        top: $switchTop;
        left: 50%;
        margin-left: -120px;
        button{
            margin-top: 40px;
            padding: 10px 30px;
            background: #39D631;
            border: none;
            color: #fff;
            font-weight: bold;
            letter-spacing: 5px;

            & + button{
                margin-left: 20px
            }

            &:disabled{
                background: rgba(#39D631,.7)
            }

        }
    }

    .tip{
        padding-left: $liLRSpace + $boxSpace;
        font-weight: bold;
        font-size: 20px;

        &.right{
            color: #08980A
        }
        &.wrong{
            color: #f00;
            a{
                color: #0097FB;
                text-decoration: underline;
            }
        }
    }

    .analysis{
        position: absolute;
        top: $switchTop + 100px;
    }
}
